<%picture_url = "http://dnd.wizards.com/sites/default/files/media/styles/story_banner/public/images/head-banner/HERO_StartBox.jpg" %>
<%width = FastImage.size(picture_url)[0] %>
<%height = FastImage.size(picture_url)[1] %>
<center> <img src = <%=picture_url%> style = "width:<%=width/2%>px; height:<%=height/2%>px;"> </center>

<br>

<h1> Dungeons and Dragons  </h1>
<p>
Dungeons and Dragons (DnD) is a fantasy role playing game. 
<br>
<br>
<i>Abed the Dungeon Master: You're all standing on a country road. Legend has it that the evil dragon Draconis dwells nearby, guarding a massive pile of treasure.  </i>
<br>
<br>
"The characters embark upon imaginary adventures within a fantasy setting. A Dungeon Master (DM) serves as the game's referee and storyteller while maintaining the setting in which the adventures occur, and playing the role of the inhabitants. The characters form a party that interacts with the setting's inhabitants, and each other. Together they solve dilemmas, engage in battles, and gather treasure and knowledge. In the process the characters earn experience points in order to rise in levels, and become increasingly powerful over a series of sessions".

</p>

<h3>Please sign in... </h3>
To create your own characters and maps! 
<br>
<br>
<i> Abed: An arrow flies through the air over Brutalitops. Six goblins are running toward you from the treeline wielding daggers. The goblins close in, surrounding you on all sides... </i>
<br>
<br>

Although DnD takes place entirely in the group's colletive imaginations, it's easier for the players to visualize battles if there are maps. Users can upload pictures of characters and maps. By creating games, a user can then drag and move character pictures around a map to visualize the battle. 

<br>
<br>
<h3>Create a game</h3>
After making an account, you can choose maps and characters to create customizable games. Character images can be clicked and moved over a map. 
<br>
<br>
<%picture_url = "http://critforbrains.com/wp-content/uploads/2016/10/roll20.jpg" %>
<%width = FastImage.size(picture_url)[0] %>
<%height = FastImage.size(picture_url)[1] %>
<center>
<img src = <%=picture_url%> style = "width:<%=width%>px; height:<%=height%>px">
</center>

<br>
<br>
<p>*This website is an assignment for a web development class and is based on Roll20. All the pictures and written content come from other sources such as wikipedia, http://mikeschley.com/tactical-game-maps, https://allisonhowle.artstation.com/projects/4ekm8</p>