<% if session[:user_id].present? %>
  <br>
  <br>
  <h2> Your Maps </h2>
  <br>

  <div class="row">

  <div class="col-sm-3 my-4">
    <%= link_to image_tag("add_new.png"), "/maps/new" %>
  </div>
    <% Map.all.order('created_at desc').each do |map| %>
      <%if map.user_id === session[:user_id] %>

    <div class="col-sm-3 my-4 text-center">
      <% picture_url = (map.picture_url.present? ? map.picture_url : 'blank_poster.png') %>
      <%= link_to image_tag(picture_url, :class => "img-fluid"), "/maps/#{map.id}" %>

      <p>
        <h5> <%=map.name %> </h5>
        <%= link_to "[Delete]", "/maps/#{map.id}", method: "delete" %>
        <%= link_to "[Edit Name]", "/maps/#{map.id}/edit" %>
      </p>
    </div>
    <%end %>
  <% end %>

</div>
<%else%>
<p>Please sign in to create new maps and see previous maps you've made. </p>
<% end %>


<br>
  <br>
  <hr>
  <h2> Stock Maps </h2>
  <br>

<div class="row">

  <div class="col-sm-3 my-3">
    <%= link_to image_tag("add_new.png"), "/maps/new" %>
  </div>

  <% Map.all.order('created_at desc').each do |map| %>
      <%stock = User.find_by( email: "Stock@example.org") %>
      <%if map.user_id === stock.id %>

    <div class="col-sm-3 my-4 text-center">
      <% picture_url = (map.picture_url.present? ? map.picture_url : 'blank_poster.png') %>
      <%= link_to image_tag(picture_url, :class => "img-fluid"), "/maps/#{map.id}" %>

      <p>
        <h5> <%=map.name %> </h5>
 
      </p>
    </div>
    <%end %>
  <% end %>

</div>
