


<% game = Game.find_by(id: params["id"]) %>


    <h1><%= game.name %></h1>

    	<br>
	<%players = Player.where(game_id: game.id) %>

	<% players.each do |player| %>
		<% character = Character.find_by(id: player.character_id) %>
		<img src = <%=character.picture_url%> draggable = "true" ondragstart = "drag_start(event)" style = "width:50px; height:50px" >
		<p>             </p>

	<%end %>

 <p>I never am really satisfied that I understand anything; because, understand it well as I may, my comprehension can only be an infinitesimal fraction of all I want to understand about the many connections and relations which occur to me, how the matter in question was first thought of or arrived at, etc., etc.</p>
       <p>In almost every computation a great variety of arrangements for the succession of the processes is possible, and various considerations must influence the selections amongst them for the purposes of a calculating engine. One essential object is to choose that arrangement which shall tend to reduce to a minimum the time necessary for completing the calculation.</p>
       <p>Many persons who are not conversant with mathematical studies imagine that because the business of [Babbage’s Analytical Engine] is to give its results in numerical notation, the nature of its processes must consequently be arithmetical and numerical, rather than algebraical and analytical. This is an error. The engine can arrange and combine its numerical quantities exactly as if they were letters or any other general symbols; and in fact it might bring out its results in algebraical notation, were provisions made accordingly.</p>
       <p>The Analytical Engine has no pretensions whatever to originate anything. It can do whatever we know how to order it to perform. It can follow analysis, but it has no power of anticipating any analytical revelations or truths. Its province is to assist us in making available what we are already acquainted with.</p>

    <%map = Map.find_by(id: game.map_id) %>
    <%width = FastImage.size(map.picture_url)[0] %>
    <%height = FastImage.size(map.picture_url)[1] %>

    <hr> 
    <img class = "movableImage" class = "dropzone" src = <%= map.picture_url %>  style = "width:<%=width%>px; height:<%=height%>px" >


 
<!--     <img src="https://pro2-bar-s3-cdn-cf4.myportfolio.com/b6995f0dd8973d41d32271aa7bc4c60a/52e40c57daca6353f41d9c1c_rw_600.jpg" alt="Mountain View" width="576" height="1462"> -->
 





