<% character = Character.find_by(id: params["id"]) %>

<div class="row">
  <div class="col">
    <h1><%= character.name %></h1>
    <h1> <%=character.specie %> <%= character.character_class%></h1>

</div>
</div>
<div class = "row">
  <div class = "col">
    <%width = FastImage.size(character.picture_url)[0] %>
    <%height = FastImage.size(character.picture_url)[1] %>
    <img src = <%= character.picture_url %>  style = "width:<%=width%>px; height:<%=height%>px" >
    <br>
  </div>


  <div class="col">
  		<h2>Available Stats </h2>
 	    <% if character.level.present? %>
      <p class="lead">Level: <%=character.level %></p>
    <% end %>

     	    <% if character.strength.present? %>
      <p class="lead">Strength: <%=character.strength %></p>
    <% end %>
     	    <% if character.dexterity.present? %>
      <p class="lead">Dexterity: <%=character.dexterity %></p>
    <% end %>
     	    <% if character.constitution.present? %>
      <p class="lead">Constitution: <%=character.constitution %></p>
    <% end %>
     	    <% if character.intelligence.present? %>
      <p class="lead">Intelligence: <%=character.intelligence %></p>
      <%end %>
       	    <% if character.wisdom.present? %>
      <p class="lead">Wisdom: <%=character.wisdom %></p>
    <% end %>
     	    <% if character.charisma.present? %>
      <p class="lead">Charisma: <%=character.charisma %></p>
    <% end %>
        <% if character.description.present? %>
        <p class = "lead">Description: <%= character.description %> </p>
    <% end %>

  </div>
</div>
